.env
!.gitkeep
VagrantFile
npm-debug.log
Homestead.json
Homestead.yaml
yarn-error.log

/public

*.LICENSE.txt
/public/build
/public/vendor

/vendor
/.idea
/.vscode
/.vagrant
/node_modules

/storage/*.key
/storage/logs/*.log
/storage/app/archive/*
/storage/app/public/*
/storage/app/movimientos/anulaciones/*
/storage/app/movimientos/remesas/*
/storage/app/livewire-tmp/*
/storage/app/keys/*
/storage/app/inspections/*
/storage/app/salvoconductos/*
/storage/app/minvu_qa/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/debugbar

/bootstrap/cache/*

.phpunit.result.cache
.env.dusk.local
.env.testing
.phpunit.cache
.phpstan.cache
public/js/inertia.js

database/*.sqlite
.DS_Store
public/.DS_Store
.env.backup

# Ignorar archivos relacionados con la integración de IA
CLAUDE.md
/.claude/*
/.github/copilot-instructions.md
/openspec
/.atl
